<table class="highlight">
  <tbody>
    <tr>
      <td><h5>Active Record Cache</h5></td>
      <td>
        <% if @ar_cache %>
          <%= link_to 'ON', flip_dashboard_index_path(cache: 'ar_supercache'), class: 'right waves-effect waves-light btn green darken-3' %>
        <% else %>
          <%= link_to 'OFF', flip_dashboard_index_path(cache: 'ar_supercache'), class: 'right waves-effect waves-light btn red lighten-1' %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><h5>HTTP Cache</h5></td>
      <td>
        <% if @http_cache %>
          <%= link_to 'ON', flip_dashboard_index_path(cache: 'http_supercache'), class: 'right waves-effect waves-light btn green darken-3' %>
        <% else %>
          <%= link_to 'OFF', flip_dashboard_index_path(cache: 'http_supercache'), class: 'right waves-effect waves-light btn red lighten-1' %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<h5>Except queries list</h5>
<form action="/supercache/dashboard/except_list" method="post">
  Add query:  <%= text_area_tag 'query' %>
  <%= submit_tag %>
</form>
<% if @except_queries.present? %>
  <table>
    <tr>
      <td>
        Queries
      </td>
    </tr>
    <% @except_queries.each do |query|  %>
      <tr>
        <td>
          <%= query %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
